@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --text-font: "Play", sans-serif; 
  --white: #FFFFFF;
  --black: #151515;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hidden{
  visibility: hidden !important;
}

.game-body{
  background-image: url(/img/bannerBackground.jpg);
}

.game-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5rem;
  margin-top: 0.2rem;
  margin-bottom: 0;
}

.user-nav-details-container{
  display: flex;
  flex-direction: row;
  width: 28rem;
  align-items: center;
  margin-left: 2.5rem;
}

.user-img{
  width: 4rem;
  height: 80%;
  margin: 0 0.5rem;

}

.level-bar-container{
  background-color: rgb(255, 255, 255);
  width: 50%;
  height: 2rem;
  border-radius: 10rem;
  margin: 0 0.5rem;
}

.level-bar{
  background-color: rgb(0, 146, 137);
  width: 50%;
  height: 100%;
  border-radius: 10rem;

}

.user-level{
  margin: 0 0.5rem;
  display: flex;
  flex-direction: row;
  font-family: var(--text-font);
  color: var(--white);
  font-size: 2rem;
  font-weight: 400;
}

.user-level span{
  margin-left: 1rem;
}

.almanac-btn{
  border-radius: 0.5rem;
  background-color: rgb(216, 205, 146);
  border: 2px solid var(--black);
  color: var(--black);
  font-family: var(--text-font);
  font-size: 1.7rem;
  font-weight: 500;
  align-self: center;
  justify-self: center;
  padding: 0.1rem 2rem;
  margin-left: 5rem;
}

.almanac-btn:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.wish-nav-detail-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 3rem;
}

.wish-img{
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 1rem;
}

.wish-amount{
  height: 3rem;
  width: 8rem;
  background-color: var(--white);
  text-align: center;
  padding: .4rem;
  font-size: 1.7rem;
  font-weight: 500;
}

.more-wishes-btn{
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: rgb(216, 205, 146);
  border-left: 2px solid var(--black);
  color: var(--black);
  font-family: var(--text-font);
  font-size: 2rem;
  font-weight: 500;
  align-self: center;
  justify-self: center;
  padding: 0.1rem 1.5rem;
  height: 3rem;

}

.more-wishes-btn:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.banner-carrousel{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 42rem;
  width: 100%;
}

.banner{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 35rem;
  transition: all 2000ms ease-in-out;
}

.banner-text-box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 85%;
  width: 35%;
  border-radius: 1%;
  margin-left: 3rem;
}

.banner-title{
  font-family: var(--text-font);
  color: var(--white);
  font-size: 3.2rem;
  font-weight: 500;
  margin: 1rem 0;
}

.best-price-name{
  font-family: var(--text-font);
  font-size: 2.5rem;
  color: var(--white);
  font-weight: 400;
  margin: 1rem 0;
}

.stars{
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.star{
  width: 4rem;
  height: 4rem;
}

.banner-text{
  font-family: var(--text-font);
  font-size: 2rem;
  color: var(--white);
  text-align: center;
  font-weight: 400;
  width: 70%;
  margin: 1rem 0;
}

.banner-image-section{
  display:flex ;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 85%;
  margin-right: 3rem;

}

.banner-character{
  height: 80%;
  width: 100%;
  border: 3px solid var(--white);
  border-radius: 1%;
}

.banner-btns{
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
}

.wish-btn{
  border-radius: 6%;
  background-color: var(--white);
  border: 2px solid var(--black);
  color: var(--black);
  font-family: var(--text-font);
  font-size: 2.2rem;
  font-weight: 500;
  align-self: center;
  justify-self: center;
  margin-top: 1rem;
  padding: 0.1rem 2rem;
  width: 40%;
}

.wish-btn:hover{
  transform: scale(1.3);
  cursor: pointer;
}

.carrousel-btns{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 23rem;
  height: 10rem;
}

.carrousel-prev-btn{
  background-image: url(/icons/prev.png);
  width: 5rem;
  height: 5rem;
  background-size: cover;
}

.carrousel-prev-btn:hover{
  background-image: url(/icons/prev-active.png);
}

.carrousel-btn{
  border-radius: 50%;
  border: 5px solid var(--white);
  width: 3rem;
  height: 3rem;
}

.carrousel-btn:hover{
  background-color: var(--white);
}

.carrousel-next-btn{
  background-image: url(/icons/next.png);
  width: 5rem;
  height: 5rem;
  background-size: cover;

}

.carrousel-next-btn:hover{
  background-image: url(/icons/next-active.png);
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background: url(/img/bannerBackground.jpg) no-repeat center center fixed;
  background-size: cover;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.login-box {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 10px;
  flex: 1;
  text-align: center;
}

.login-subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.icon {
  width: 60px;
  height: 60px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: rgb(0, 146, 137);
  color: white;
}

.btn-secondary {
  background-color: rgba(37, 32, 32, 0.671);
  color: white;
}

.alert {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
}

.alert ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Utiliza el 100% del alto de la ventana (viewport height) */
}

.register-box {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.register-box h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.register-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-box input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-box button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.register-box .alert {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
}

.register-box .alert ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.containerCharacter {
  padding: 20px;
  text-align: center;
}

.charactersGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px; /* Agrega margen inferior */
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.characterImage {
  border-radius: 50%;
}

.characterName {
  font-size: 1.5em;
  margin: 10px 0;
}

.characterLevel,
.characterElement,
.characterRarity,
.characterConstellation {
  margin: 5px 0;
}

